<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.neerajjoshi.ppa">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ppa_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ppa_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.PPA">
        <activity
            android:name="com.neerajjoshi.ppa.Change_PIN"
            android:exported="false" />
        <activity
            android:name="com.neerajjoshi.ppa.PinActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.neerajjoshi.ppa.FormFill"
            android:exported="false" />
        <activity
            android:name="com.neerajjoshi.ppa.Card_view"
            android:exported="true" />
        <activity
            android:name="com.neerajjoshi.ppa.MainActivity"
            android:exported="true"/>
    </application>
</manifest>